* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(120deg, #04324c, #008793);
  background-size: 300% 300%;

  display: grid;
  place-items: center;
}
.container {
  height: 20rem;
  width: 45rem;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.06);
  position: relative;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.04);

  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);

  &:hover {
    /* box-shadow: 0px 0px 8px #00ffff, 0 0 8px #ff00ff;*/
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.35),
      0 0 60px rgba(0, 150, 255, 0.25);
  }
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.firstblock {
  /* align-self: flex-start;
  display: block;

 */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#day {
  font-size: 2rem;
  color: #00bf8f;
  text-shadow: 0 0 8px #001510;
}
.menu {
  position: absolute;
  top: 12%;
  right: 5%;
}
.menu:hover .option {
  display: block;
}
.option {
  display: none;
  list-style: none;
  background-color: #00eaff;
  padding: 3px;
  /*z-index: 9999;
  */
  min-width: 100px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transform: translateY(-70%);
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
}
.option li {
  padding: 5px 6px;
  text-decoration: none;
  display: block;
  gap: 2px;
}
.menu.active.option {
  display: block;
}
.child {
  height: 10rem;
  aspect-ratio: 1;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 7px 13px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
}
.child:hover {
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
}

#hour {
  font-weight: 700;
  color: #00eaff;
  text-shadow: 0 0 8px #16292b;
}
#minute {
  font-weight: 700;
  color: #ff4fa3;
  text-shadow: 0 0 8px #200f17;
}
#second {
  font-weight: 700;
  color: #00ffc3;
  text-shadow: 0 0 8px #192c28;
}
#midday {
  font-weight: 700;
  color: #ff4fa3;
  text-shadow: 0 0 8px #200f17;
}
.spanname {
  font-size: 2rem;
}
